<!DOCTYPE html>
<html lang="zxx">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"]</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/favicon.ico" />

    <!-- CSS
    ============================================ -->
    <!-- Vendor CSS (Contain Bootstrap, Icon Fonts) -->
    <link rel="stylesheet" href="~/assets/css/vendor/font-awesome.min.css" />
    <link rel="stylesheet" href="~/assets/css/vendor/Pe-icon-7-stroke.css" />
    <link href="~/~/assets/css/style.css" rel="stylesheet" />
    <!-- Plugin CSS (Global Plugins Files) -->
    <link rel="stylesheet" href="~/~/assets/css/plugins/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/jquery-ui.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/nice-select.css">
    <link rel="stylesheet" href="~/assets/css/plugins/magnific-popup.min.css" />

    <!-- Style CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">

</head>

<body>


    <div class="main-wrapper">

        <!-- Begin Main Header Area -->
        @await Html.PartialAsync("_HeaderPartialView.cshtml")
        <!-- Main Header Area End Here -->
        @RenderBody()


        <!-- Begin Footer Area -->
        @await Html.PartialAsync("_FooterPartialView.cshtml")
        <!-- Footer Area End Here -->
        <!-- Begin Scroll To Top -->
        <a class="scroll-to-top" href="">
            <i class="fa fa-chevron-up"></i>
        </a>
        <!-- Scroll To Top End Here -->

    </div>

    <!-- Global Vendor, plugins JS -->
    <!-- JS Files
    ============================================ -->
    <!-- Global Vendor, plugins JS -->
    <!-- Vendor JS -->
    <script src="~/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/vendor/jquery-3.5.1.min.js"></script>
    <script src="~/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="~/assets/js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="~/assets/js/vendor/jquery.waypoints.js"></script>

    <!--Plugins JS-->
    <script src="~/assets/js/plugins/wow.min.js"></script>
    <script src="~/assets/js/plugins/jquery-ui.min.js"></script>
    <script src="~/assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="~/assets/js/plugins/jquery.nice-select.js"></script>
    <script src="~/assets/js/plugins/parallax.min.js"></script>
    <script src="~/assets/js/plugins/jquery.magnific-popup.min.js"></script>

    <!--Main JS (Common Activation Codes)-->
    <script src="~/assets/js/main.js"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
<script>
    $(".add-to-card").click(function () {
        var productid = $('#ProductId').val();
        var soluong = $('#txtsoLuong').val();
        $.ajax({
            url: "/api/cart/add",
            type: "POST",
            dataType: "JSON",
            data: {
                productID: productid,
                amount: soluong
            },
            success: function (response) {
                if (response.success) {
                    loadHeaderCart();
                    location.reload();
                }
            },
            error: function (error) {
                alert("Thêm sản phẩm không thành công");
            }
        });
    });

    function loadHeaderCart() {
        $("#miniCart").load("/AjaxContent/HeaderCart");
        $("#numberCart").load("/AjaxContent/NumberCart");
    }

    function remove(productid) {
        $.ajax({
            type: 'POST',
            url: '/api/cart/remove',
            data: {
                productID: productid,
            },
            success: function (response) {
                alert('Đã xóa sản phẩm ra khỏi giỏ hàng');
                location.reload();
            }
        });
    }

    $(".cartItem").click(function () {
        var productid = $(this).attr("data-mahh");
        var soluong = parseInt($(this).val());
        $.ajax({
            url: "api/cart/update",
            type: "POST",
            dataType: "JSON",
            data: {
                productID: productid,
                amount: soluong
            },
            success: function (result) {
                if (result.success) {
                    loadHeaderCart();
                    window.location = 'cart.html';
                }
            },
            error: function (rs) {
                alert("Cập nhật giỏ hàng không thành công");
            }
        });
    });

    $(".xemdonhang").click(function () {
        var madonhang = $(this).attr("data-madonhang")
        $.ajax({
            type: 'POST',
            url: '/api/checkout/details',
            dataType: "JSON",
            data: {
                id: madonhang
            },
            success: function (response) {
                $("#records_table").html("");
                $("#records_table").html(response.donHang);
                console.log(response.donHang.donHang);
            }
        });
    });
</script>
</body>
</html>