@model BachHoaTH.ModelViews.XemDonHang
<div class="container" style="padding: 100px 0px">
    <div class="row">
        <div class="col-lg-6 col-12">
            <form action="javascript:void(0)">
                <div class="checkbox-form">
                    <br />
                    <h3>Thông tin tài khoản</h3>
                    <div class="row">
                        @Model.DonHang.Address
                    </div>
                </div>
            </form>
        </div>
        
    </div>
</div>